.search__form {
  display: flex;
  margin: auto;
  height: 2.5em;
  width: 25em;

  &__input {
    border: none;
    height: 100%;
    flex-grow: 3;
    font-size: 1.5em;
    border-bottom-left-radius: 0.5em;
    padding-left: 0.5em;
    outline: none;
  }

  &__btn {
    border: none;
    flex-grow: 1;
    background-color: #6c63ff;
    font-size: 1.2em;
    border-bottom-right-radius: 0.5em;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 0.5em;
    outline: none;
    cursor: pointer;
  }

  &__alert{
    text-align: center;
    color: red;
    font-weight: bold;
  }
}

@media (max-width: 640px) {
  .search__form {
    width: 20em;

    &__input {
      flex-grow: 1;
      font-size: 1.2em;
    }

    &__btn {
      font-size: 1em;
    }
  }
}
